.Plotts{
    display: flex;
    overflow: hidden;
    width: 100%;
  
  }

.Scatterplot {
    height: 500px;

    @media only screen and (max-width: 600px) {
        height: 400px;
    }
}
.ScatterplotYZ {
    width: 30%;
}
.ScatterplotXY{
  width: 70%;
}