.SafetyTips {
    border-top: 1px solid #ccc;
    padding:0.5rem 0.2rem;
    margin: 0rem 0.5rem 1rem 0.5rem;
    //padding: 0 5px;

    >div{
        display: flex;
        justify-content: left;
        align-items: center;
        margin-bottom: 10px;

        p{
            margin: 0;
            font-size:0.8rem
        }
    }

    .AdditionalInfos{
        font-size: 0.7rem;
    }
}

i{
    font-style: normal;
}

.Heavy{
    width: 2rem;
    min-width: 2rem;
    background-color: #e84855;
    color: white;
    border-radius: 100%;
    text-align: center;
    font-size: 1.2rem;
    line-height: 2rem;
    margin: 0 10px 0 0;
}
.Middle{
    width: 2rem;
    min-width: 2rem;
    background-color: #f68e62;
    color: white;
    border-radius: 100%;
    text-align: center;
    font-size: 1.2rem;
    line-height: 2rem;
    margin: 0 10px 0 0;
}
.Low{
    width: 2rem;
    min-width: 2rem;
    background-color: #68c6a4;
    color: white;
    border-radius: 100%;
    text-align: center;
    font-size: 1.2rem;
    line-height: 2rem;
    margin: 0 10px 0 0;
}

