
@import 'styles/normalize.styles.scss';
@import 'styles/font.styles.scss';
.Content{
max-width: 960px;
margin:0 auto;


  .Block{ 
  padding:  0rem 1rem 1rem 1rem;
  }
}

.MuiSlider-markLabel{
  font-size: 0.7rem !important
}

.MuiSlider-root{
  color:#2b84c1 !important;
  width: 98% !important;;
}


footer{
  margin-top:50px;
  @media only screen and (min-width: 641px) {
    display: none;
}


  img{
    width: 100%;
    position: fixed;
    width: 100%;
    bottom: 0px;
  }
}

.PlotAndShare{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  .Social *{
    margin: -2px;
  }
}

